[flake8]
exclude =
    migrations
    _pycache__,
    .history,
    .mypy_cache,
    .pytest_cache,
    .vscode,
    Data,
    Examples,
    Models,
    Notebooks,
    Outputs,
    src,
    tests,
    Utilities,
    venv,
    .gitignore,
    .flake8,
    .travis.yml,
    docker-compose.yml,
    Dockerfile,
    environment.yml,
    global_parameters.py,
    LICENSE,
    README.md,
    requirements.txt,
    setup.cfg,
    setup.py,
    testing_travis_ci.py,
