[flake8]
ignore =   E501, F403, W605, F401, W503, C901
max-line-length = 79
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude =
    migrations
    _pycache__,
    .history,
    .mypy_cache,
    .pytest_cache,
    .vscode,
    Data/,
    Outputs/,
    Examples/*,
    venv/,
    .gitignore,
    .flake8,
    .travis.yml,
    docker-compose.yml,
    Dockerfile,
    environment.yml,
    LICENSE,
    README.md,
    requirements.txt,
    setup.cfg,

format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
